@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/


html, body {    
    margin: 0;
    height: 100%;
    background-color: black;
    font-family: 'Poiret One';
    color: #DBDBDB;
    box-sizing:border-box;
    
}

/*******  TITLE  ******/
#wrapper {
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%
}

a {
    text-decoration: none;
}

div#titlepage {
    height: 100%;
    background-color: #fff;
    margin: 5px;
    
}

/*SECTION 1: Header */
div#header, div#footer {
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
    margin-bottom: 3px;
    background-color: #444B54;
    width: auto;
    height: 10%;
}

.logo1, .logo2 {
    float: left;
    display: inline-flex;
    align-items: center;
    color: #DBDBDB;
    
}

.two1, .two2 {   
    font-size: 1.5em;
    height: 30px;
    width: 40px;
    text-align: center;
    margin-top: 0;
}

.mid2 { 
    height: 55px;
    width: 30px;
    text-align:center;
    font-size: 3em;
    font-weight: bold;
    margin-right: 2px;
}

/***********************************/
/* SECTION 2: Body */

/*Images*/

div#sec2 {
    height: 90%;
    background-color: black;
}

div#sec2 .image {
    background-color: #000;
    height: 90%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 3px;
}

#one, #two, #three {
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    margin-right: auto;
    background-color: #000;
}

#one, #three {
    width: 280px;
    height: 400px;
}

#one {
    margin-left: 15%;
}

#two {
    width: 300px;
    height: 550px;
 }

#three {
    margin-right: 15%;
}

/*aligning in center of div */
#one img, #two img, #three img {
    width:100%;
    max-height:100%; /*to fit in div*/
        
    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(0, -50%);
    
    /*aligning horizontally*/    
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
    background-color: #000;
    border-top-style:double;
    border-bottom-style: double;
    border-color: #DBDBDB;
}

/* SECTION 2: Enter button */
 
div#sec2 .text {
    background-color: #000;
    height: 5%;
    width: auto;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

div#sec2 a {
    color: #DBDBDB;
    font-size: 1.4em;
    color: #DBDBDB;
}

div#sec2 a:hover {
    font-size: 1.4em;
    color: #DBDBDB;
    text-decoration: underline;
}

/***********************************/
/*******  PAGE 2 ******/
.tagline {
    font-size: 0.9em;
    margin-left: 20px;
    margin-top: 30px
}

.nav {
    text-align: right;
    float: right;
    margin-left: 20px;
    width: 80%;
    height: 50%;
}

.nav a {
    font-size: 1.1em; 
    margin:  20px;
    color: #fff;
    font-weight: bold;
}

div#homepage {
    display: inline-flex;
    align-items: center;
    float: left;
    background color: #fff;
    color: black;
}
    
.image1 {
    height: 70%;
    width: 40%;
}

#one img, #two img, #three img, .image1 {
    width:100%;
    max-height:100%; /*to fit in div*/
        
    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(0, -50%);
    
    /*aligning horizontally*/    
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


.text1 {
    height: 100%;
    width: 600px; 
}

h3 {
    font-size: 1.2em;
    font-style: oblique;
}


/***********************************/
/*******  PAGE 3  ******/
/*CONTACTS*/
div#contact {
    height:30%;
    background-color: #B5AFA2; 
}

#wrap3 {
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%
}

div#box3 {
    background-color: #B5AFA2;
    height:auto;
    width:1000px;
    float:left;
    height: 100%
}

div#boxed {
    background-color: dimgray;
    width: auto;
    margin-left: 1000px;
    height: 100%
}
div#boxed .inbox1 {
    background-color: dimgray;
    margin-left:0;
    width: auto;
    height:50%;
    float:center;
    top: 0;
}
div#boxed .inbox2{
    background-color: dimgray;
    margin-left:0;
    width: auto;
    height:50%;
    float: center;
    bottom: 0;
   
}

div#contact .box-top {
    font-size: 0.8em;
    /*text-shadow: 0px 1px #000;*/ /*solid black*/
    background-color:dimgray;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300; /*font will be lighter*/
}

div#contact .box-panel {
    padding: 15px;
    background-color:dimgray;
    font-size: 1em;
    font-style: oblique;
    color: #fff;
}



/* SECTION 3: Footer */
div#footer {
    text-align: center;
    height: 50px;
    bottom: 0;
    margin-top: 3px
}

.logo2{
    display: inline-block;
    width: 100%;
}

.logo2 span {   
    font-size: 1.6em;  
}