@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/


body {
    font-family: 'Open Sans';
    margin: 0 auto;
    background-color: black;
    box-sizing:border-box;
}

div#container {
    background-color: #fff;
    margin: 5px;
}

div#container .wrap {
    width: 100%;
    height: auto;
}

div#header, div#footer {
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
    background-color: #444B54;
    width: auto;
    height: 70px;
}

.logo1, .logo2 {
    font-family: 'Poiret One';
    float: left;
    display: inline-flex;
    align-items: center;
}

.two1, .two2 {   
    font-size: 1.5em;
    height: 30px;
    width: 40px;
    text-align: center;
    margin-top: 0;
}

.mid2 { 
    height: 55px;
    width: 30px;
    text-align:center;
    font-size: 3em;
}


/* BOX: BODY */
/***********************************/

div#box {
    background-color: #FFF;
    height:80%;
    width: auto;
    margin: 30px;
    text-align:center;
}


/* 
AnimationsFor "n" images You must define:
a=presentation time for one image
b=duration for cross fading
Total animation-duration is of course t=(a+b)*n

animation-delay = t/n or = a+b

Percentage for keyframes:

0%
a/t*100%
(a+b)/t*100% = 1/n*100%
100%-(b/t*100%)
100%

n=5, a=7, b=2, t=(7+2)*5=45

*/

#one {
    position: relative;
    width: 300px;
    height: 550px;
    overflow: hidden;
}

#one img .first{
    
    
}

#one img {
    width:100%;
    max-height:100%; /*to fit in div*/
    
    /*aligning in center of div */
    
    /*aligning horizontally*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(0, -50%);
    /*aligning vertically*/
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
}
    
    


    





/***********************************/

/* FOOTER */
div#footer {
    text-align: center;
    height: 50px;
}

.logo2{
    display: inline-block;
    width: 100%;
}

.logo2 span {   
    font-size: 1.6em;  
}
    
